<h1>Hello</h1>

<p>This is {{name}}</p>

<form method="POST" action="pdf-me">
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="emailAddress">
    <input type="submit">
</form>